---
layout: splash
permalink: /
hidden: true
author_profile: false
title: "Achieving Learning Success: Commitment, Perseverance, and Consistency"
header:
  overlay_image: /assets/images/header/apple-eye.jpg
  overlay_filter: 0.5
  actions:
      - label: "About Me"
        url: "/about/"
excerpt:
  Misi kami adalah membantu pengguna mempelajari pemrograman dengan lebih mudah.
intro: 
  - excerpt: 'Kami adalah tim kecil yang terdiri dari pengembang yang bersemangat dan terus berupaya menciptakan sumber daya pemrograman yang akurat dan mudah dipahami.<br>Kami memahami bahwa membuat konten tekstual di web untuk mempelajari pemrograman saja tidak cukup, Untuk meningkatkan pengalaman belajar pengguna kami.'
feature_row:
  - image_path: /assets/images/learn.jpg
    alt: "customizable"
    title: "Learn"
    excerpt: "Here I try to teach what I have learned and try to ask and answer interesting questions."
    url: "/posts/"
    btn_class: "btn--primary"
    btn_label: "Read More"
  - image_path: /assets/images/journal.jpg
    alt: "fully responsive"
    title: "Journal"
    excerpt: "Journal Kosong"
  - image_path: /assets/images/blog.jpg
    alt: "100% free"
    title: "Projects"
    excerpt: "Projects, resulting from whatever half baked ideas thrown into the oven at medium heat."
---
{% include feature_row id="intro" type="center" %}

{% include feature_row %}
